* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 12px;
}

header {       
    display: inline;
}

.rodape {
    position: relative;
    border: 2px solid black;
    height: 300px;
}

.titulo-site {
    
    color: deepskyblue;
    font-size: 44px;
    display: inline;
    position: relative;
    margin-left: 64px;
    top: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navegacao {    
    color: deepskyblue;
    display: inline;
    position: absolute;
    margin-right: 64px;
    font-size: 32px;
    margin-top: 24px;
    right: 0px;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.entre{
    display: inline;
    background-color: rgb(0, 120, 160);
    border: 1px solid grey;
}

.entre:hover {
    background-color: rgb(0, 48, 65);
    transition: 0.200s ease;
}

.botao-contato{
    margin-left: 10px;
    color: white;
}

.porti:hover {
    text-decoration: underline;  
}

.conteudo {
    text-align: center;
}

.chamada {
    
    color: rgb(56, 56, 56);
    font-weight: bolder;
    top: 124px;
    display: inline;    
    position: relative;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;      
}

.apresentacao {
    font-size: 32px;
    width: 850px;
    top: 0px;
    margin-top: 124px;
    margin: 164px auto;
}

.foto-apre {  
    display: block;  
    width: 50%;
    margin: 0 auto;
}

.moldura {
    position: relative;
    background-color: rgb(241, 241, 241);
    height: 650px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -100px;
    border: 0px solid black;
    text-align: center;
    margin-bottom: 64px;
}

.fotoDawg {
    border: 0px solid black;
    position:absolute;
    margin-left: 20%;
    margin-top: 164px;
    border-radius: 50%;
    width: 300px;
}

.icones {
    background-color: darkcyan;
    border:0px solid #002230;
    position: absolute;
    display: inline;
    height: 650px;
    width: 140px;
    margin: 0px 0px 0px -30%;
}

.icon {
    margin-right: 0px;
    padding-top: 70px;
    width: 124px;
}
.rodape {
    color: rgb(219, 219, 219); 
    background-color: rgb(41, 41, 41);
}

footer>div>.infos>a {
    color: rgb(255, 255, 255);
}

.sobre-mim {
    text-align: left;
    display: inline;
    width: 310px;
    height: 280px;
    position: absolute;
    margin-left: 1%;
    border: 0px solid white;
}

.redes-sociais {
    text-align: center;
    display: inline;
    width: 310px;
    height: 280px;
    position: absolute;
    margin-left: 41.4%;
    border: 0px solid white;
}

.infos{
    text-align: left;
    display: inline;
    width: 140px;
    height: 280px;
    position: absolute;
    right: 0;
    border: 0px solid white; 
}
.moldura>.icones>.icon:hover {
    width: 120px;
}

.habilidades-html {
    position: absolute;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px solid red;
    margin-top: 70px;
    margin-left: 30%;
    height: 120px;
    width: 400px;
}
.habilidades-css {
    position: absolute;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px solid red;
    margin-top: 280px;
    margin-left: 30%;
    height: 120px;
    width: 400px;
}

.habilidades-js {
    position: absolute;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px solid red;
    margin-top: 470px;
    margin-left: 30%;
    height: 120px;
    width: 400px;
}

.containers {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border: 0px solid violet;
    height: 500px;
    width: 40%;
}

.habilidades {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    border: 0px solid red;
    margin-top: 20px;
    margin-bottom: 160px;
}

.apresentacao {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 44px;
}

.formacao {
    position: relative;
    height: 50%;
    border: 0px solid red;
    margin-bottom: 12px;
}

.senac {
    background-color: rgb(228, 228, 228);
}

.formacao>.senac>.img-senac {
    margin-top: 5px;
    width: 150px;
    height: 90px;
    border: 0px solid black;
    padding-left: 20%;
}

.formacao>.labenu>.img-labenu {
    margin-top: 5px;
    width: 150px;   
    height: 90px;
    border: 0px solid black;
    padding-left: 20%;
}


.formacao>.senac>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    position: absolute;
    display: inline;
    padding-top: 28px;
    padding-left: 15px;
}
.formacao>.labenu>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    position: absolute;
    display: inline;
    padding-top: 28px;
    padding-left: 15px;
}

.container-portifolio {
    position: relative;
    border: 0px solid red;
    height: 290px;
    margin-top: 300px;
    
}
.container-portifolio>a>img {
    border-radius: 10%;
}
.container-portifolio>a>img:hover {
    border: 1px solid rgb(0, 59, 93);
}

.texto-blackjack {
    display: inline;
    position: absolute;
    border: 0px solid rgb(255, 0, 140);
    width: 50%;
    height: 300px;
    margin-left: 32px;
}
.texto-blackjack>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 6%;
    font-size: 30px;
}
.infos>a {
    display: inline;
    font-size: 22px;
    padding-left: 36px;
    margin-top: 10px;
}
.infos>.img-github {
    display: inline;
    position: absolute;
    width: 22px;
    padding-top: 0px;
}
.infos>.img-linkedin {
    display: inline;
    position: absolute;
    width: 22px;
    padding-top: 28px;
}

.infos>.img-twitter {
    display: inline;
    position: absolute;
    width: 22px;
    padding-top: 54px;
}

.infos>.img-instagram {
    display: inline;
    position: absolute;
    width: 22px;
    padding-top: 79px;
}

.conteudo-skills {
    position: relative;
    border: 0px solid red;
    height: 200px;
    margin-top: 130px;
}

.chamada-skills {
    padding-left: 10%;
    text-align: center;
    color: rgb(56, 56, 56);
    font-weight: bolder;
    top: 0px;
    display: inline;    
    position: absolute;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}